@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bruno+Ace+SC&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 
        'header header'
        'aside  main  '
        'footer footer';
}

header {
    grid-area: header;
    border: 1px solid black;
    font-family: 'Bruno Ace SC', sans-serif;
    display: flex;
    align-items: center;
}

#logo {
    height: 80%;
    width: auto;
    margin-left: 2rem;
}

h1 {
    margin-left: 1rem;
}

aside {
    grid-area: aside;
    border: 1px solid black;
}

main {
    grid-area: main;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

table {
    font-family: 'Alice', serif;
    width: 100%;
    margin: 1rem;
}

th {
    background-color: lightgray;
    font-size: 20px;
    padding: 5px;
}

td {
    background-color: #eee;
    padding: 5px;
}

td:nth-child(1),
td:nth-child(4) {
    text-align: end;
}

th:nth-child(2) {
    width: 35%;
}

th:nth-child(3) {
    width: 25%;
}

td:nth-child(5) {
    text-align: center;
}

td:nth-child(6) {
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

td:nth-child(6) > img {
    width: 1rem;
    height: auto;
    cursor: pointer;
}


footer {
    grid-area: footer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#github {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Alice', serif;
    text-decoration: none;
    color: black;
}

#github > img {
    height: 80%;
    width: auto;
}