@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bruno+Ace+SC&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 
        'header header'
        'aside  main  '
        'footer footer';
}

header {
    grid-area: header;
    border: 1px solid black;
    font-family: 'Bruno Ace SC', sans-serif;
    display: flex;
    align-items: center;
}

#logo {
    height: 80%;
    width: auto;
    margin-left: 2rem;
}

h1 {
    margin-left: 1rem;
}

aside {
    grid-area: aside;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

button {
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 2rem;
    background-color: lightgray;
}

button:hover {
    background-color: #eff;
}

#filter-buttons {
    display: flex;
    flex-direction: column;
}

#filter-buttons > h3 {
    margin: 1rem;
}

#filter-buttons > button {
    margin: 1rem 2rem;
}

#filter-buttons > .active {
    background-color: #eff;
}

aside p {
    padding: 1rem;
    margin-top: 2rem;
}

main {
    grid-area: main;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form {
    font-family: 'Alice', serif;
    display: none;
    width: 95%;
    margin-top: 1rem;
}

h2 {
    font-family: 'Bruno Ace SC', sans-serif;
}

.container {
    display: flex;
}

#form-container {
    display: grid;
    margin: 1rem;
    grid-template-columns: 500px 125px;
    gap: 1rem;
}

.form-widget {
    display: flex;
    gap: 5px;
}

.form-text > label {
    text-align: right;
    width: 75px;
}

.form-text > input {
    width: 100%;
}

.form-number > input {
    width: 100%;
}

.form-checkbox {
    justify-content: center;
}

#form-buttons > button {
    margin: 0rem
}

#form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#close {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    font-size: 0.75rem;
}

table {
    margin-top: 1rem;
    font-family: 'Alice', serif;
    width: 95%;
}

th {
    background-color: lightgray;
    font-size: 20px;
    padding: 5px;
}

th.asc::after {
    content: ' ▼';
    color: gray;
}

th.des::after {
    content: ' ▲';
    color: gray;
}

th:nth-child(-n+4) {
    cursor: pointer;
}

td {
    background-color: #eee;
    padding: 5px;
}

td:nth-child(1),
td:nth-child(4) {
    text-align: end;
    width: 12%;
}

th:nth-child(2) {
    width: 35%;
}

th:nth-child(3) {
    width: 25%;
}

td:nth-child(5),
td:nth-child(6) {
    text-align: center;
}

td:nth-child(6) > img {
    width: 1rem;
    height: auto;
    cursor: pointer;
    margin: 0 0.5rem;
}

footer {
    grid-area: footer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#github {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Alice', serif;
    text-decoration: none;
    color: black;
}

#github > img {
    height: 80%;
    width: auto;
}